<section class="about" id="about">
    <div class="about-text">
        <h1 class="animate-text">Something went wrong!</h1>
        <small>We are trying our best to get it right..</small><br />
        <small>
            <%= error %>
        </small>
        <div>

            <a href="/" class="btn">Go home</a>

        </div>
    </div>
</section>