
<%- include("components/head") %>

    <section class="examiner" id="examiner">
        <section class="page-section" id="contact">
            <h3> User details for Exam</h3>
              <div class="col-lg-6">
            <select id="filter">
            <option value="">All</option>
            <option value="G2">G2</option>
            <option value="G">G</option>
        </select>
        <div  id="appointments" style="display: flex;">
            
        </div>
    </section>

    <script type="text/javascript" src="/scripts/examiner.js"></script>