<section class="about" id="about">
    <div class="about-text">
        <h1 class="animate-text">Page Not Found.</h1>
        <small>You seem lost.</small>
        <div>

            <a href="/" class="btn">Go home</a>

        </div>
    </div>
</section>